/* Заметки */

.note-pop-up {
    --note-pop-up-width: 70%;
    position: absolute;
    width: 100%;
    max-width: var(--note-pop-up-width);
    min-height: 200px;
    left: calc((100% - var(--note-pop-up-width)) / 2);
    z-index: 1;
    padding: 0;
    border: 0;
    transition: opacity 0.2s linear;
}

.note-pop-up:hover {
    cursor: default;
}

.note-block {
    position: absolute;
    justify-content: center;
    width: 100%;
    min-height: inherit;
    padding: 15px 60px;
    border-radius: 10px;
    background-color: #949494;
}

.note-block__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
}

.note-block__input-block  {
    align-items: center;
}

.note-block__textarea {
    width: 100%;
    min-height: 150px;
    margin-bottom: 15px;
    resize: none;
    border-radius: 10px;
}

.note-block__display {
    flex-direction: column;
    align-items: center;
}


/* Спиннеры */

.spinner-border-visible {
    display: block;
    width: 200px;
    height: 200px;
    margin-top: 100px;
}

.spinner-border-hidden {
    display: none;
}

.btn-spinner-hidden {
    display: none;
}


/* Таблица */

.tables__container {
    flex-direction: column;
    align-items: center;
}

.tables__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}

.table_title {
    text-align: center;
}

.schedule_table {
    width: 100%;
    border-collapse: collapse
}

.table_title {
    font-size: 30px;
    padding-bottom: 20px;
}

.table_heads th {
    padding: 5px 10px;
    border: 2px solid gray;
}

tr td {
    padding: 3px 5px;
    border: 2px solid grey;
    text-align: center;
}

tbody tr:hover {
    cursor: pointer;
    background-color: #e2e2e2;
}

.existing_note_tr td:nth-child(1) {
    background-color: red;
}

tbody td:nth-child(1) {
    width: 2%;
}

tbody td:nth-child(2) {
    width: 16%;
}

tbody td:nth-child(3) {
    width: 57%;
}

tbody td:nth-child(4) {
    width: 15%;
}

tbody td:nth-child(5) {
    width: 10%;
}

.tables__pagination {
    display: flex;
    gap: 30px;
    justify-content: center;
}

tbody tr {
    position: relative;
}


/* Закладки */

.bookmarks-item {
    gap: 10px;
}