/* Заметки */

.note-pop-up {
    --note-pop-up-width: 70%;
    position: absolute;
    width: 100%;
    max-width: var(--note-pop-up-width);
    min-height: 200px;
    left: calc((100% - var(--note-pop-up-width)) / 2);
    z-index: 1;
    padding: 0;
    border: 0;
    transition: opacity 0.2s linear;
}

.note-pop-up:hover {
    cursor: default;
}

.note-block {
    position: absolute;
    justify-content: center;
    width: 100%;
    min-height: inherit;
    padding: 15px 60px;
    border-radius: 10px;
    background-color: #949494;
}

.note-block__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
}

.note-block__input-block  {
    align-items: center;
}

.note-block__textarea {
    width: 100%;
    min-height: 150px;
    margin-bottom: 15px;
    resize: none;
    border-radius: 10px;
}

.note-block__display {
    flex-direction: column;
    align-items: center;
}


/* Спиннеры */

.spinner-border-visible {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto 0;
}

.spinner-border-hidden {
    display: none;
}

.btn-spinner-hidden {
    display: none;
}


/* Таблица */

.schedule__list {
    width: 100%;
    margin-bottom: 20px;
}

.schedule__table-block:not(:last-child) {
    margin-bottom: 24px;
}

.schedule__table-block {
    padding: 24px;
    background-color: var(--light);
    border-radius: 8px;
}

.schedule__table {
    width: 100%;
    border-collapse: collapse;
}

.schedule__table-title-block {
    justify-content: space-between;
    margin-bottom: 15px;
}

.schedule__table-descr {
    font-weight: 900;
    font-size: 18px;
    line-height: 150%;
}

tr td {
    padding: 10px 10px 10px 0;
    border-top: 1px solid var(--dark-blue);
    text-align: center;
}

tr td:not(:last-child) {
    font-size: 20px;
}

tr td:first-child {
    font-weight: 900;
    font-size: 18px;
    line-height: 150%;
}

tr td:not(:first-child) {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
}

tbody tr:hover {
    cursor: pointer;
    background-color: #e2e2e2;
}

.schedule__existing-note-tr td:nth-child(1) {
    background-color: red;
}

tbody td:nth-child(3) {
    max-width: 600px;
}

.schedule__pagination {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.schedule__arrow-block {
    width: 30px;
    height: 30px;
}

.schedule__pagination-arrow {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.schedule__pagination-arrow > svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translate(0, -50%);
    fill: var(--dark-blue);
    transition: fill ease-in-out 0.3s;
}

.schedule__pagination-arrow > svg:hover {
    fill: var(--light);
}

.schedule__left-pagination-arrow {
    rotate: 180deg;
}

.schedule__pagination-page-number {
    font-size: 28px;
    font-weight: 600;
}

tbody tr {
    position: relative;
}


/* Закладки */

.schedule__bookmarks {
    font-size: 0;
}

.bookmarks-item {
    gap: 10px;
}

.schedule__bookmark-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.schedule__bookmark-btn svg {
    width: 30px;
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}

.schedule__bookmarks-empty {
    margin: 0;
    text-align: center;
}