.schedule__container {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - 1px);
}

.schedule__content {
    width: 100%;
}

.schedule__title-block {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 24px;
    margin-bottom: var(--title-margin-bottom);
    gap: 10px;
}

.schedule__title-left-block {
    gap: 20px;
}

.schedule__form {
    justify-content: center;
    gap: 10px;
}

.schedule__form > input {
    min-width: 300px;
}

.schedule__bookmarks {
    height: 100%;
    font-size: 0;
}

.schedule__bookmark-link {
    font-size: 16px;
    color: var(--dark-blue);
}

.schedule__bookmark-link:hover {
    background-color: transparent;
    color: var(--light-blue);
}

.schedule__bookmarks-btn {
    height: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
}

.schedule__bookmarks-btn:focus {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.schedule__bookmarks-btn:active:focus {
    box-shadow: none;
}

.schedule__bookmarks-btn:hover {
    background-color: transparent;
}

.schedule__bookmarks-btn svg {
    width: 40px;
    height: 40px;
    fill: var(--dark-blue);
    transition: fill ease-in-out 0.3s;
}

.schedule__bookmarks-btn:hover > svg {
    fill: var(--light);
}

.schedule__bookmark-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.schedule__bookmark-btn:hover {
    background-color: transparent;
}

.schedule__bookmark-btn svg {
    width: 30px;
    stroke: var(--dark-blue);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    transition: stroke ease-in-out 0.3s;
}

.schedule__bookmark-btn:hover > svg {
    stroke: var(--light-blue);
}

.schedule__bookmarks-empty {
    margin: 0;
    text-align: center;
    line-height: normal;
}

.schedule__info-block {
    flex-grow: 1;
    text-align: center;
    margin-top: 170px;
}

.schedule__info {
    font-size: 24px;
}

.schedule__info > a {
    font-size: 24px;
}

.schedule__info > a:focus::after {
    opacity: 0;
}
