.profile__container {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.profile__title {
    margin-bottom: 10px;
    padding-left: 24px;
}

.profile__content {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 30px;
    padding: 20px 70px;
    border-radius: 8px;
    background-color: var(--light);
}

.profile__lists-block {
    width: 100%;
    justify-content: space-between;
}

.profile__list-title {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
}

.profile__item {
    font-size: 20px;
    font-weight: 400;
}

.profile__item-name {
    font-weight: 600;
}

.profile__form-btn-block {
    text-align: center;
}

.profile__form errors {
    margin-bottom: 10px;
}

.profile__form inputs-block {
    margin-bottom: 8px;
}

.profile__btn-block {
    text-align: center;
}

@media (max-width: 1024px) {
    .profile__title {
        margin-bottom: 5px;
        padding-left: 16px;
    }

    .profile__content {
        padding: 10px 50px;
        gap: 10px;
    }

    .profile__list-title {
        font-size: 20px;
    }

    .profile__item {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .profile__title {
        padding-left: 10px;
    }

    .profile__content {
        padding: 10px 5px;
        gap: 5px;
    }

    .profile__list-title {
        font-size: 18px;
    }

    .profile__item {
        font-size: 16px;
    }
}