/* Base */

.schedule__container {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.schedule__content {
    width: 100%;
}

.schedule__title-block {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 24px;
    margin-bottom: var(--title-margin-bottom);
    gap: 10px;
}

.schedule__title-left-block {
    align-items: center;
    gap: 20px;
}

.schedule__form {
    justify-content: center;
    gap: 10px;
}

.schedule_teacher-links {
    padding-left: var(--content-padding);
}

.schedule__form > input {
    min-width: 300px;
}

.schedule__bookmarks {
    height: 100%;
    font-size: 0;
}

.schedule__bookmark-link {
    font-size: 16px;
    color: var(--dark-blue);
}

.schedule__bookmark-link:hover {
    background-color: transparent;
    color: var(--light-blue);
}

.schedule__bookmarks-btn {
    height: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
}

.schedule__bookmarks-btn:focus {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.schedule__bookmarks-btn:active:focus {
    box-shadow: none;
}

.schedule__bookmarks-btn:hover {
    background-color: transparent;
}

.schedule__bookmarks-btn svg {
    width: 40px;
    height: 40px;
    fill: var(--dark-blue);
    transition: fill ease-in-out 0.3s;
}

.schedule__bookmarks-btn:hover > svg {
    fill: var(--light);
}

.schedule__bookmark-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.schedule__bookmark-btn:hover {
    background-color: transparent;
}

.schedule__bookmark-btn svg {
    width: 30px;
    stroke: var(--dark-blue);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    transition: stroke ease-in-out 0.3s;
}

.schedule__bookmark-btn:hover > svg {
    stroke: var(--light-blue);
}

.schedule__bookmarks-empty {
    margin: 0;
    text-align: center;
    line-height: normal;
}

.schedule__info-block {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.schedule__info {
    font-size: 24px;
}

.schedule__info > a {
    font-size: 24px;
}

.schedule__info > a::after {
    opacity: 1;
}


/* Notes */

.note-block {
    width: 100%;
    height: 100%;
    padding: 0;
    border-top: 1px solid var(--dark-blue);
}

.note-block__card {
    width: 100%;
    padding: 30px 125px;
    border: none;
    background-color: transparent;
}

.sun-editor {
    margin-bottom: 5px;
    border: 1px solid var(--light-blue);
    border-radius: 8px;
    overflow: hidden;
}

.sun-editor .se-toolbar {
    outline: 1px solid var(--light-blue);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--light-blue);
}

.note-block__form {
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.note-block__btns {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.sun-editor .se-btn-module {
    padding: 2px;
    border-radius: 8px;
}

.sun-editor button {
    color: var(--dark-blue);
}

/* rgba from variable '--blue' */
.sun-editor .se-btn-module {
    border: 1px solid rgba(77, 100, 141, 30%);
}

.sun-editor .se-btn {
    padding: 0;
    background-color: transparent;
}

.sun-editor .se-btn {
    width: 40px;
    height: 40px;
    font-size: 16px;
}

.sun-editor .se-btn-list {
    font-size: 16px;
}

.sun-editor .se-btn,
.sun-editor .se-btn-list {
    color: var(--dark);
}

.sun-editor .se-btn > svg,
.sun-editor .se-btn-list > svg {
    width: 18px;
    height: 18px;
}

.sun-editor .se-btn:disabled {
    color: gray;
}

/* rgba from variable --light */
.sun-editor .se-btn:enabled:focus,
.sun-editor .se-btn:enabled:hover,
.sun-editor .se-btn:enabled:active,
.sun-editor .se-btn:enabled.on,
.sun-editor .se-btn:enabled.on:hover,
.sun-editor .se-btn:enabled.active:focus,
.sun-editor .se-btn:enabled.active:hover {
    background-color: rgba(219, 236, 244, 60%);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.note-block__editable * {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}


/* Spinners */

.schedule__spinner-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.spinner-border-visible {
    width: 200px;
    height: 200px;
    margin: auto 0;
    border: 10px solid var(--dark-blue);
    border-right-color: transparent;
}

.spinner-border-hidden {
    display: none;
}

.btn-spinner-hidden {
    display: none;
}


/* Table */

.schedule__list {
    width: 100%;
    margin-bottom: 20px;
}

.schedule__table-block:not(:last-child) {
    margin-bottom: 24px;
}

.schedule__table-block {
    padding: var(--content-padding);
    background-color: var(--light);
    border-radius: 8px;
}

.schedule__table {
    width: 100%;
    border-collapse: collapse;
}

.schedule__table-title-block {
    justify-content: space-between;
    margin-bottom: 15px;
}

.schedule__table-descr {
    font-weight: 900;
    font-size: 20px;
    line-height: 150%;
}

tr td {
    padding: 10px;
    border-top: 1px solid var(--dark-blue);
}

tr:nth-child(2n + 1) td {
    text-align: center;
    transition: color ease-in-out 0.3s;
}

tr:nth-child(2n + 1):hover td {
    color: var(--light-blue);
}

tr:nth-child(2n + 1) td:first-child {
    font-weight: 900;
    width: 2%;
}

tr:nth-child(2n) td {
    border: none;
}

tr td:not(:last-child) {
    font-size: 20px;
}

tr td:nth-child(2n + 1) {
    font-size: 18px;
    line-height: 150%;
}

tr td:not(:first-child) {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
}

tbody tr:nth-child(2n + 1):hover {
    cursor: pointer;
}

.schedule__existing-note-tr > td:first-child {
    position: relative;
}

.schedule__existing-note-tr > td:first-child::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    margin-left: -18px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/static/images/icons/note.svg");
}

tbody td:nth-child(3) {
    max-width: 600px;
}

.schedule__pagination {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.schedule__arrow-block {
    width: 30px;
    height: 30px;
}

.schedule__pagination-arrow {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.schedule__pagination-arrow > svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translate(0, -50%);
    fill: var(--dark-blue);
    transition: fill ease-in-out 0.3s;
}

.schedule__pagination-arrow > svg:hover {
    fill: var(--light);
}

.schedule__left-pagination-arrow {
    rotate: 180deg;
}

.schedule__pagination-page-number {
    font-size: 28px;
    font-weight: 600;
}