{% load schedule_tags %}

{% if page_obj %}
  {% for date, day_table in page_obj %}
    <table class="schedule_table">
      <thead>
      <tr>
        <th colspan="5" class="table_title">{{ date }}</th>
      </tr>
      <tr class="table_heads">
        <th>№</th>
        <th>Время</th>
        <th>Название</th>
        <th>
          {% if table == 'group' %}
            Преподаватель
          {% else %}
            Группа
          {% endif %}
        </th>
        <th>Корпус</th>
      </tr>
      </thead>
      <tbody>
      {% for row in day_table %}
        {% get_user_note table date forloop.counter as note %}
        <tr {% if note %} class="existing_note_tr" {% endif %}>
          {% for cell in row %}
            <td>{{ cell }}</td>
          {% endfor %}
          <td class="note-pop-up hidden">
            <div class="note-block flex" data-schedule-name="{{ table }}" data-day="{{ date }}" data-lesson-number="{{ forloop.counter }}">
              {% if note %}
                {% include 'note_block/display.html' %}
              {% else %}
                {% include 'note_block/create.html' %}
              {% endif %}
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endfor %}
  <div class="tables__pagination">
    {% if page_obj.has_previous %}
      <a class="pagination-link" href="?page={{ page_obj.previous_page_number }}{% if teacher %}&teacher={{ teacher }}{% endif %}">Предыдущая неделя</a>
    {% endif %}
    {% if page_obj.has_next %}
      <a class="pagination-link" href="?page={{ page_obj.next_page_number }}{% if teacher %}&teacher={{ teacher }}{% endif %}">Следующая неделя</a>
    {% endif %}
  </div>
{% else %}
  <p>Расписание не найдено. Проверьте свои данные в профиле.</p>
{% endif %}
