{% extends 'base.html' %}

{% block head_title %}
  Восстановление пароля
{% endblock %}

{% block body %}
  <main>
    <section class="password-reset">
      <div class="container password-reset">
        {% block password-reset %}
          <h1 class="password-reset__title">
            {% block password-reset-title %}

            {% endblock %}
          </h1>
          <form class="password-reset__form" action="." method="post">
            {% block password-reset-form %}

            {% endblock %}
          </form>
        {% endblock %}
      </div>
    </section>
  </main>
{% endblock %}
