.Button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.Button:focus {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.Button:active:focus {
    box-shadow: none;
}

.Button:hover {
    background-color: transparent;
}

.BookmarkIcon {
    width: 40px;
    height: 40px;
    fill: var(--dark-blue);
    transition: fill ease-in-out 0.3s;
}

.Button:hover > .BookmarkIcon {
    fill: var(--light);
}