<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Профиль</title>
</head>
<body>
  <h1>Профиль</h1>
  <div>
    <h2>Данные пользователя</h2>
    <ul>
      <li>ФИО: {{ user.full_name }}</li>
      <li>Email: {{ user.email }}</li>
      <li>Институт: {{ user.institute }}</li>
      <li>Курс: {{ user.course }}</li>
      <li>Группа: {{ user.group }}</li>
    </ul>
  </div>
  <p><a href="{% url 'mau_auth:password_reset_form' %}">Изменить пароль</a></p>
  <p><a href="{% url 'profiles:profile_update' %}">Изменить данные</a></p>
  <p><a href="{% url 'schedule:index' %}">Главная</a></p>
</body>
</html>