{% extends 'base.html' %}

{% block head_title %}
  Профиль
{% endblock %}

{% block body %}
  <section class="profile">
    <div class="container profile__container">
      <h1 class="profile__title">Данные пользователя</h1>
      <ul class="profile__list">
        <li class="profile__item">ФИО: {{ user.full_name }}</li>
        <li class="profile__item">Email: {{ user.email }}</li>
        <li class="profile__item">Институт: {{ user.institute }}</li>
        <li class="profile__item">Курс: {{ user.course }}</li>
        <li class="profile__item">Группа: {{ user.group }}</li>
      </ul>
      <div class="profile__link-block"><a class="profile__link" href="{% url 'profiles:profile_update' %}">Изменить данные</a></div>
    </div>
  </section>
{% endblock %}
