{% extends 'profiles/base_profile.html' %}
{% load form_tags %}

{% block head_title %}
  Редактирование профиля
{% endblock %}

{% block profile_title %}
  Редактирование профиля
{% endblock %}

{% block profile_content %}
  <form class="profile__form" method="post" id="profile-update">
    {% csrf_token %}
    {% if form.errors %}
      <ul class="errors-list profile__errors">
        {% for field in form %}
          {% for error in field.errors %}
            <li class="auth__error">{{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    {% endif %}
    <div class="row row-cols-md-2 g-1 g-md-3 justify-content-between profile__inputs-block flex-wrap">
      {% for field in form %}
        {% clear_label_suffix field as clean_field %}
        <div class="col-md profile__field-block">
          <div class="form-floating">
            {{ clean_field }}
            {{ clean_field.label_tag }}
          </div>
        </div>
      {% endfor %}
    </div>
  </form>
  <div class="profile__btn-block">
    <button class="btn profile__btn" type="submit" form="profile-update">Обновить профиль</button>
  </div>
{% endblock %}

{% block html_loaded_scripts %}
  <script>
    prepareRemoveErrorStyle()
  </script>
{% endblock %}
