{% extends 'profiles/base_profile.html' %}
{% load form_tags %}

{% block head_title %}
  Редактирование профиля
{% endblock %}

{% block profile_title %}
  Редактирование профиля
{% endblock %}

{% block profile_content %}
  <form class="profile__form" method="post">
    {% csrf_token %}
    <ul class="errors-list profile__errors">
      {% for field in form %}
        {% for error in field.errors %}
          <li class="auth__error">{{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
    <div class="row row-cols-2 g-2 justify-content-between profile__inputs-block">
      {% for field in form %}
        {% clear_label_suffix field as clean_field %}
        <div class="col profile__field-block">
          <div class="form-floating">
            {{ clean_field }}
            {{ clean_field.label_tag }}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <button class="col-4 btn profile__btn" type="submit">Обновить профиль</button>
    </div>
  </form>
{% endblock %}
