.profile__container {
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - 1px);
}

.profile__title {
    margin-bottom: var(--title-margin-bottom);
    padding-left: 24px;
}

.profile__content {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
    padding: var(--content-padding);
    border-radius: 8px;
    background-color: var(--light);
}

.profile__lists-block {
    width: 100%;
    justify-content: space-between;
}

.profile__list-title {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 700;
}

.profile__item {
    font-weight: 400;
}

.profile__item-name {
    font-weight: 600;
}
