/* Общие */

:root {
    --light: #DBECF4;
    --light-blue: #AFCAE3;
    --blue: #4D648D;
    --dark-blue: #1A4568;
    --dark: #1E1E26;
    --erorr-color: #e81e1e;
}

* {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    color: var(--dark-blue);
    background-color: var(--light-blue);
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
    color: var(--dark-blue);
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 20px 0;
}


/* Ссылки */

.link {
    text-decoration: none;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    color: var(--dark-blue);
    outline: none;
}

.link::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #4D648D;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -2px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.link:focus::after {
    opacity: 1;
}

.link:hover {
    color: var(--blue);
}

.link:hover::after {
    opacity: 0;
}

.link:active {
    color: var(--blue);
}


/* Кнопки */

.btn {
    min-width: 300px;
    max-width: 400px;
    padding: 6px 30px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    color: var(--light);
    background-color: var(--dark-blue);
}

.btn:focus {
    box-shadow: 0 0 0 3px rgba(77, 100, 141, 45%);
}

.btn:hover {
    background-color: var(--blue);
    color: var(--light);
    box-shadow: none;
}

.btn:active {
    background-color: var(--blue);
    color: var(--light-blue);
}


/* Поля формы */

input {
    max-width: 400px;
}

.form-floating > input, .form-floating > select {
    min-width: 400px;
    font-size: 18px;
    min-height: 64px;
    border-radius: 8px;
}

.form-floating > input:focus,
.form-floating > select:focus {
    box-shadow: 0 0 0 3px rgba(77, 100, 141, 45%);
}

.form-floating > label {
    font-size: 18px;
    color: var(--dark-blue);
}


/* Ошибки формы */

.errors-list {
    list-style: initial;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--erorr-color);
}

.error-input {
    box-shadow: 0 0 4px 3px rgba(232, 30, 30, 80%);
}


/* Лого */

.main-logo {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}


/* Уведомление */

.notification {
    position: fixed;
    flex-direction: column;
    right: 2%;
    bottom: 2%;
    z-index: 99;
    max-width: 400px;
    min-height: 70px;
    gap: 30px;
}

.notification__block {
    align-items: center;
    padding: 18px 25px;
    gap: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.notification__icon-ok {
    width: 32px;
    height: 32px;
    background-image: url("/static/images/notification/ok.svg");
}

.notification__icon-error {
    width: 32px;
    height: 32px;
    background-image: url("/static/images/notification/error.svg");
}


/* header */

.header {
    border-bottom: 1px solid var(--dark-blue);
}

.header__container > .row {
    width: inherit;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: auto;
    height: 60px;
}

.header__nav-list {
    justify-content: space-between;
    gap: 60px;
}

.header__form {
    text-align: right;
}

.header__form-link {
    border: none;
    background-color: transparent;
}
