* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-width: 320px;
    width: 100%;
    font-size: 24px;
}

.container {
    margin: 0 auto;
    max-width: 1920px;
    padding: 50px 150px 50px;
}

.tables__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}

.table_title {
    text-align: center;
}

.schedule_table {
    width: 100%;
    border-collapse: collapse
}

.table_title {
    font-size: 30px;
    padding-bottom: 20px;
}

.schedule_table_th {
    padding: 5px 10px;
    border: 2px solid gray;
}

.schedule_table_td {
    padding: 3px 5px;
    border: 2px solid grey;
    text-align: center;
}

tbody td:nth-child(1) {
    width: 2%;
}

tbody td:nth-child(2) {
    width: 16%;
}

tbody td:nth-child(3) {
    width: 57%;
}

tbody td:nth-child(4) {
    width: 15%;
}

tbody td:nth-child(5) {
    width: 10%;
}

.tables__pagination {
    display: flex;
    gap: 30px;
    justify-content: center;
}
