* {
    box-sizing: border-box;
    margin: 0;
}

.flex {
    display: flex;
}

body {
    min-width: 320px;
    width: 100%;
    font-size: 24px;
}

.btn {
    border: 2px solid #858585;
    background-color: #e2e2e2;
}

.container {
    margin: 0 auto;
    max-width: 1920px;
    padding: 50px 150px 50px;
}
