<div class="note-block__display flex">
  <p class="note-block__title">Заметка</p>
  <p class="note-block__descr">
    {% if note_text %}
      {{ note_text }}
    {% else %}
      {{ note.text }}
    {% endif %}
  </p>
  <div class="note-block__options">
    <button name="update" class="btn note-block__btn" type="button">Изменить</button>
    <button name="delete" class="btn note-block__btn" type="button">Удалить</button>
    <button name="close" class="btn close-btn note-block__btn" type="button">Закрыть</button>
  </div>
</div>