{% extends 'base_header_and_footer.html' %}
{% load static %}

{% block head_links %}
  <link rel="stylesheet" href="{% static 'css/pages/schedule/layout.css' %}">
  <link rel="stylesheet" href="{% static 'css/pages/schedule/extra.css' %}">
{% endblock %}

{% block head_scripts %}
  <script src="{% static 'js/utils/urls.js' %}"></script>
  <script src="{% static 'js/utils/csrf.js' %}"></script>
  <script src="{% static 'js/schedule/teacher_searching/fetching.js' %}"></script>
  <script src="{% static 'js/schedule/table/fetching.js' %}"></script>
  <script src="{% static 'js/schedule/notes/fetching.js' %}"></script>
  <script src="{% static 'js/schedule/notes/preparing.js' %}"></script>
  <script src="{% static 'js/schedule/bookmarks/fetching.js' %}"></script>
  <script src="{% static 'js/schedule/bookmarks/preparing.js' %}"></script>
{% endblock %}

{% block main %}
  <section class="schedule">
    <div class="container schedule__container">
      {% block schedule %}

      {% endblock %}
    </div>
  </section>
{% endblock %}
