{% extends 'schedule/base_schedule.html' %}
{% load static %}

{% block head_title %}
  Поиск преподавателя
{% endblock %}

{% block main %}
  <section class="schedule">
    <div class="container schedule__container flex">
      <h1 class="schedule__title">Расписание преподавателя</h1>
      <form class="schedule__form flex" name="search-teacher" method="get">
        <input class="schedule__input" type="text" name="query">
        <button class="btn" type="submit">
          <span class="spinner-border spinner-border-sm btn-spinner-hidden" role="status" aria-hidden="true"></span>
          <span class="schedule__btn-text">Найти</span>
        </button>
      </form>
      <div class="schedule__list-block"></div>
    </div>
  </section>
{% endblock %}

{% block html_loaded_scripts %}
  <script src="{% static 'js/search_teacher.js' %}"></script>
  <script>
      document.querySelector('[name=search-teacher]').addEventListener('submit', (event) => {
          event.preventDefault()
          if (event.currentTarget.query.value) {
              getTeachersLinks()
          }
      })
  </script>
{% endblock %}
