{% extends 'schedule/base_schedule.html' %}

{% block head_title %}
  Расписание преподавателя
{% endblock %}

{% block main %}
  <section class="schedule">
    <div class="container schedule__container flex">
      <h1>Расписание</h1>
      <form method="get">
        <input type="text" name="query" {% if query %} value="{{ query }}" {% endif %}>
        <button type="submit">Найти</button>
      </form>
      <div class="tables__list"></div>
      <div class="spinner-border spinner-border-visible" role="status">
        <span class="visually-hidden"></span>
      </div>
    </div>
  </section>
{% endblock %}

{% block html_loaded_scripts %}
  <script>
      const url = getIndex() + '/schedule/get-teacher-schedule/?page={{ page }}&teacher={{ teacher }}'
      document.addEventListener('DOMContentLoaded', () => getSchedule(url))
  </script>
{% endblock %}
