{% extends 'schedule/base_schedule.html' %}

{% block head_title %}
  Расписание преподавателя
{% endblock %}

{% block main %}
  <section class="schedule">
    <div class="container schedule__container flex">
      <h1>Расписание преподавателя "{{ teacher_name }}"</h1>
      <a href="{% url 'schedule:teacher_search' %}" class="schedule__link">Назад</a>
      <div class="tables__list"></div>
      <div class="spinner-border spinner-border-visible" role="status">
        <span class="visually-hidden"></span>
      </div>
    </div>
  </section>
{% endblock %}

{% block html_loaded_scripts %}
  <script>
      const url = getIndex() + '/schedule/get-teacher-schedule/?page={{ page }}&teacher={{ teacher_key }}'
      document.addEventListener('DOMContentLoaded', () => getSchedule(url))
  </script>
{% endblock %}
