{% extends 'base.html' %}
{% load static %}

{% block head_title %}
  Главная
{% endblock %}

{% block head_links %}
  <link rel="stylesheet" href="{% static 'css/pages/index/layout.css' %}">
{% endblock %}

{% block body %}
  <section class="hero">
    <div class="container hero__container flex">
      <img class="main-logo" src="{% static 'images/main/bear_face.svg' %}" alt="логотип лицо медведя">
      <h1 class="hero__title">Расписание доступно только для учащихся МАУ</h1>
      <a href="{% url 'mau_auth:login' %}" class="btn hero__btn">Войти</a>
      <a href="{% url 'mau_auth:registration' %}" class="link hero__link">Регистрация</a>
    </div>
  </section>
{% endblock %}
