.button {
    padding: 6px 20px;
    border-radius: 8px;
    border: 2px solid var(--dark-blue);
    font-size: 20px;
    font-weight: 500;
    color: var(--light);
    background-color: var(--dark-blue);
    transition: background-color ease-in-out 0.3s,
                color ease-in-out 0.3s,
                border-color ease-in-out 0.3s,
                box-shadow ease-in-out 0.3s;
}

.button:focus {
    box-shadow: 0 0 0 3px rgba(77, 100, 141, 45%);
}

.button:hover {
    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--light);
    box-shadow: none;
}

.button:active {
    background-color: transparent;
    color: var(--dark-blue);
}

.button:disabled {
    border: none;
    color: var(--light);
    background-color: var(--dark-blue);
    opacity: 0.6;
}

@media (max-width: 1024px) {
    .button {
        padding: 2px 20px;
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .button {
        padding: 0px 14px;
        font-size: 16px;
    }

    .button:active {
        background-color: var(--dark-blue);
        color: var(--light);
    }
}