{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block head_extra_options %}

  {% endblock %}
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block head_links %}

  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  {% block head_scripts %}

  {% endblock %}
  <title>
    {% block head_title %}

    {% endblock %}
  </title>
</head>
<body>
{% block body %}
  <header class="header">
    <div class="container header__container">
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item"><a class="header__nav-link" href="{% url 'core:index' %}">Главная</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="{% url 'profiles:profile' %}">Профиль</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="{% url 'schedule:group_schedule' %}">Расписание группы {% if user.group %}{{ user.group }}{% endif %}</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="{% url 'schedule:teacher_search' %}">Расписание преподавателей</a></li>
        </ul>
      </nav>
      <div class="header__logo">
      </div>
      <div class="header__auth">
        <form class="header__form" action="{% url 'mau_auth:logout' %}" method="post">
          {% csrf_token %}
          <button class="btn header__btn" type="submit">Выйти</button>
        </form>
      </div>
    </div>
  </header>
  <main>
    {% block main %}

    {% endblock %}
  </main>
  <footer class="footer">
    <div class="container footer__container">
      <div class="footer__center-block">
        <div class="footer__nav-block">
          <p class="footer__title">Навигация</p>
          <nav class="footer__nav">
            <ul class="footer__nav-list">
              <li class="footer__nav-item"><a class="footer__nav-link" href="{% url 'core:index' %}">Главная</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="{% url 'profiles:profile' %}">Профиль</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="{% url 'schedule:group_schedule' %}">Расписание группы {% if user.group %}{{ user.group }}{% endif %}</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="{% url 'schedule:teacher_search' %}">Расписание преподавателей</a></li>
            </ul>
          </nav>
        </div>
        <div class="footer__contacts-list-block">
          <p class="footer__title">Контакты</p>
          <ul class="footer__contacts-list">
            <li class="footer__contacts-item">{% lorem 2 w random %}</li>
            <li class="footer__contacts-item">{% lorem 2 w random %}</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}

{% block html_loaded_scripts %}

{% endblock %}
</body>
</html>
