{% extends 'base.html' %}
{% load static %}

{% block body %}
  <header class="header">
    <div class="container header__container flex">
      <img class="header__logo" src="{% static 'images/logo/bear_face.png' %}" alt="Логотип лицо медведя">
      <nav class="header__nav">
        <ul class="header__nav-list flex">
          <li class="header__nav-item"><a class="link header__nav-link" href="{% url 'profiles:profile' %}">Профиль</a></li>
          <li class="header__nav-item"><a class="link header__nav-link" href="{% url 'schedule:group_schedule' %}">Группа {% if user.group %}{{ user.group }}{% endif %}</a></li>
          <li class="header__nav-item"><a class="link header__nav-link" href="{% url 'schedule:teacher_search' %}">Расписание преподавателей</a></li>
        </ul>
      </nav>
      <form class="header__form" action="{% url 'mau_auth:logout' %}" method="post">
        {% csrf_token %}
        <button class="link header__form-link" type="submit">Выйти</button>
      </form>
    </div>
  </header>
  <main>
    {% block main %}

    {% endblock %}
  </main>
  <footer class="footer">
    <div class="container footer__container flex">
      <img class="footer__logo" src="{% static 'images/logo/bear_body.png' %}" alt="логотип тела медведя">
      <div class="footer__content flex">
        <nav class="footer__nav">
          <p class="footer__title">Навигация</p>
          <ul class="footer__nav-list">
            <li class="footer__nav-item"><a class="footer__link link" href="{% url 'profiles:profile' %}">Профиль</a></li>
            <li class="footer__nav-item"><a class="footer__link link" href="{% url 'schedule:group_schedule' %}">Группа {% if user.group %}{{ user.group }}{% endif %}</a></li>
            <li class="footer__nav-item"><a class="footer__link link" href="{% url 'schedule:teacher_search' %}">Преподаватели</a></li>
          </ul>
        </nav>
        <div class="footer__contacts">
          <p class="footer__title">Контакты</p>
          <ul class="footer__contacts-list">
            <li class="footer__contacts-item"><a class="footer__link link" href="#">{% lorem 2 w random %}</a></li>
            <li class="footer__contacts-item"><a class="footer__link link" href="#">{% lorem 2 w random %}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
