{% extends 'base.html' %}
{% load static %}

{% block head_title %}
  Вход
{% endblock %}

{% block head_links %}
  <link rel="stylesheet" href="{% static 'css/pages/auth/layout.css' %}">
{% endblock %}

{% block head_scripts %}
  <script src="{% static 'js/auth/forms/switching_forms.js' %}"></script>
  <script src="{% static 'js/auth/forms/error_box_shadow.js' %}"></script>
{% endblock %}

{% block body %}
  <main>
    <section class="auth">
      <div class="container auth__container flex">
        {% block auth %}

        {% endblock %}
      </div>
    </section>
  </main>
{% endblock %}
