{% extends 'mau_auth/base_auth.html' %}

{% block head_title %}
  Вход
{% endblock %}

{% block auth %}
  <h1 class="auth__title">Вход</h1>
  <form class="auth__form flex" action="." method="post">
    {% csrf_token %}
    <div class="auth__inputs-block flex">
      {% for field in form %}
      <div class="form-floating">
        {{ field }}
        {{ field.label_tag }}
      </div>
    {% endfor %}
    </div>
    <button class="btn auth__btn" type="submit">Войти</button>
  </form>
  <a class="auth__link" href="{% url 'mau_auth:registration' %}">Регистрация</a>
  <a class="auth__link" href="{% url 'mau_auth:password_reset_form' %}">Восстановить пароль</a>
{% endblock %}
